$font-family-base: "Montserrat", sans-serif;
$font-weight-base: 300;
$font-size: 1.125em;
$font-size: 1.125em;
$color-ivory: #ffffea;
$color-brown: #61210f;
$color-big-foot-fit: #ea8c55;
$line-height: 1.3;
$container-padding: 0.9rem;

body {
    background-color: $color-brown;
    color: $color-ivory;
    font-family: $font-family-base;
    font-weight: $font-weight-base;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: $font-size;
    line-height: $line-height;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

h1 {
    font-size: $font-size * 3;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: $container-padding;
    padding-right: $container-padding;
    height: 100%;
}

.row {
    display: flex;
    height: 100%;
    margin-left: -$container-padding;
    margin-right: -$container-padding;
}

.col {
    padding-left: $container-padding;
    padding-right: $container-padding;
    position: relative;
    width: 100%;
}

.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.hidden {
    opacity: 0;
}

#morphSvg {
    all: unset;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 100;
    path {
        fill: $color-big-foot-fit;
    }
}

header {
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.4rem;
    z-index: 1000;
    .toggle-navbar {
        all: unset;
        cursor: pointer;
        position: relative;
        margin-right: 0.5rem;
        height: 2rem;
        width: 3rem;
        &.open {
            height: 3rem;
        }
        .menu-icon {
            position: relative;
            width: 100%;
            height: 100%;
            .line {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                height: 0.25rem;
                background-color: $color-ivory;
                border-radius: 0.2rem;
            }
            .top {
                top: 0;
            }
            .middle {
                opacity: 1;
                top: 50%;
                left: 0;
                right: 25%;
                transform: translateY(-50%);
            }
            .bottom {
                bottom: 0;
            }
        }
    }
}

nav {
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 101;
    .navbar-nav {
        all: unset;
        display: flex;
        .nav-item {
            all: unset;
            margin-right: 3rem;
        }
        .nav-link {
            color: $color-brown;
            cursor: pointer;
            font-size: 2em;
            font-weight: 600;
        }
    }
}

main {
    height: 100vh;
    position: relative;
}

@media (max-width: 992px) {
    nav {
        .navbar-nav {
            justify-content: space-around;
            flex-wrap: wrap;
            .nav-item {
                margin-bottom: 3rem;
            }
            .nav-link {
                font-size: 1.5em;
            }
        }
    }
}

@media (max-width: 480px) {
    nav {
        .navbar-nav {
            align-items: flex-end;
            flex-direction: column;
            width: 100%;
        }
    }
    h1 {
        font-size: $font-size * 2;
    }
}
